body {
    background-color: whitesmoke;
    align-items: center;
}
.container {
    width: 30%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
input {
    margin: 10px;
    padding: 10px;
}
label {
    margin: 10px;
}
button {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: lightgreen;
}